@tailwind base;
@tailwind components;
@tailwind utilities;

.charging-effect {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: white;
  }
  
  .charging-effect::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease; /* Transition for the charging effect */
  }
  
  .charging-effect:hover::before {
    width: 100%; /* Fully charge the underline on hover */
  }
  

  podesi-visinu-contenta {
    height: 100vh !important;
  }

  .charging-effect:hover {
    /* Add any hover styles you want */
    /* This is just an example */
    background-color: #4a4a4a;
  }

  .menu-icon {
  transition: transform 0.3s ease-in-out;
}

.menu-icon.open {
  transform: rotate(90deg);
}

/* Add this to your CSS file */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0; /* Start with 0 width */
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Adjust alignment */
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: width 0.6s ease, opacity 0.6s ease, visibility 0.6s ease;
}

.overlay.active {
  width: 100%; /* Set the desired width for the menu */
  opacity: 1; /* Fades in when active */
  visibility: visible; /* Shows when active */
}

.nav-links {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgb(30 41 59); /* Adjust background color */
  padding: 50px 20px; /* Adjust padding */
  z-index: 101; /* Ensure the menu is on top of the overlay */
  width: 0; /* Initial width is 0 */  
}

.nav-links.active {
  display: block;
  width: 80%; /* Set the width when active */
}

.nav-link {
  position: relative;
  color: #ccc;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ccc;
  transition: width 0.5s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
}