.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 2s ease; /* Transition for the charging effect */
  }
  
  .nav-links {
    text-align: center;
  }
  
  .nav-links a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 2xl;
  }